*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: serif;
}

.cabeza{
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: center;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.barra_links{
    display: flex;
    margin-right: 30px;
}


.barra_links a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.barra_links a:hover{
    background: #3f3f3f;
}

.contenido-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
}

.contenido-header{
    height: 100vh !important;
    background: url(fondo\ historia.jpeg)no-repeat center;
    background-size: cover;
}

.titulo{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.intro{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
}

.contenido-abajo{
    height: 300vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenido-abajo{
    padding: 110px;
    background: #181515;
}

.titulo-caja{
    font-size: 30px;
    color: #fff;
}

.titulo-caja:hover{
    font-size: 40px;
}

.caja-contenido{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.caja-contenedor .caja{
    height: 18rem;
    width: 17rem;
    
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
}

.caja-contenedor .titulo-caja{
    background: #0741ff;
    border-radius: 1rem;

}

.contenido-abajo p{
    color: #40d604;
}

.eso{
    height: 18rem;
    background: url(astronauta.jpg)no-repeat center;
    background-size: cover;
}

.quierelo{
    height: 18rem;
    background: url(quierelo.jpg)no-repeat center;
    background-size: cover;
}

.felizmente{
    height: 18rem;
    background: url(2011.png)no-repeat center ;
    background-size: cover;
}

.ruido{
    height: 18rem;
    background: url(ey\ pa.jpg);
    background-size: cover;
}

.carrusel{
    height: 18rem;
    background: url(mi\ carrusel\ de\ emociones.jpg);
    background-size: cover;
}

.hoja{
    height: 18rem;
    background: url(hoja.jpg);
    background-size: cover;
}

.entre{
    height: 18rem;
    background: url(entre\ la\ vida\ y\ la\ muerte.jpg);
    background-size: cover;
}

.contra{
    height: 18rem;
    background: url(yo\ contra\ mi.jpg);
    background-size: cover;
}

.trap{
    height: 18rem;
    background: url(trap\ &\ roll.jpg);
    background-size: cover;
}

.necesitaba{
    height: 18rem;
    background: url(necesitaba\ estar\ hecho\ azul.png);
    background-size: cover;
}

.vol1{
    height: 18rem;
    background: url(las\ del\ 19.jpg);
    background-size: cover;
}

.vol2{
    height: 18rem;
    background: url(las\ del\ 19\ vol\ 2.jpg);
    background-size: cover;
}

.corazones{
    height: 18rem;
    background: url(corazones.jpg);
    background-size: cover;
}
